<div id="searchquiz-container">
    <form name="myform" method="post" action="/searchQuizById">
    <!--Taking Quiz Code from user-->
    <input type="text" name="searchCode" id="searchCode" placeholder="Enter Quiz Code"></input>
    <button type="submit" value="search">Search</button>
    </form>
</div>

<div id="searchresult-conainter">
    <% if( typeof result != 'undefined' && result != '') { %>

        <!-- no result found -->
        <% if(result=='no') { %>
            <p>No result found</p>
        <% } else if(flag=='attempted') { %>
            <!-- result found so looping through it -->
            <% result.forEach((quiz,id)=>{ %>
                <div>
                    <p>Quiz id: <%= quiz.id %></p>
                    <p>Quiz title: <%= quiz.details.title %> </p>
                    <p>Already Attempted</p>
                </div>
            <% }); %>
        <% } else { %>
            <!-- result found so looping through it -->
            <% result.forEach((quiz,id)=>{ %>
                <div>
                    <p>Quiz id: <%= quiz.id %></p>
                    <p>Quiz title: <a href="/attemptQuiz?id=<%= quiz.id %>"> <%= quiz.details.title %> </a> </p>
                    <!--<button id="AttemptQuiz" name="AttemptQuiz">Attempt Quiz</button>-->
                </div>
            <% }); %>
        <% } %>        
    <% } %>
</div>