<div id="searchquiz-container">
    <form name="myform" method="post" action="/searchQuizzes">
    <!--Taking Quiz Code from user-->
    <input type="text" name="searchCode" id="searchCode" placeholder="Enter Quiz Code"></input>
    <button type="submit" value="search">Search</button>
    </form>
</div>

<div id="searchresult-conainter">
    <!-- checking if user is creator or attemptor-->
    <% if(typeof type!=undefined && type == 'create') { %>

        <% if(typeof result!=undefined || result != '') { %>

            <!-- no result found -->
            <% if(result=='no') { %>
                <p>No result found</p>
            <% } else { %>
                <!-- result found so looping through it -->
                <% result.forEach((quiz,id)=>{ %>
                    <div>
                        <p>Quiz id: <%= quiz.id %></p>
                        <p>Quiz title: <%= quiz.details.title %> </p>
                        <p>Questions:-</p>
                        <div>
                            <!-- Looping thorugh questions array -->
                            <% quiz.details.questions.forEach((ques)=>{ %>
                                <p><%= ques.quesNumber %>) <%= ques.questionText %></p>
                                <div>
                                    <p>Options: <%= ques.options %> </p>
                                </div>
                                <div>
                                    <p>Correct Answerr: <%= ques.answers %></p>
                                </div>
    
                            <% }); %>
                        </div>
                    </div>
                <% }); %>
            <% } %>
        <% } %>

    <!-- If user is attempter need to get quiz details as well-->
    <% } else { %>
        <!-- todo add attemp quiz search -->
    
    <% } %>

</div>